<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
    </head>

    <body>

        <div class = 'header'>
            <div class = 'title'>
                Text analyzer
            </div>
        </div>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <textarea id="name" type="text" name="input" value="" placeholder="Text"></textarea>
                    <input type="submit" name="" value="submit">
                </form>
            </section>
            <div class = 'break-line' ></div>
            <div class = 'features' id = "text">
                <br> 
            </div>
        </main>

        <footer>
            <p>Copyrighted to ...</p>
        </footer>


        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
