
main{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    form {
        border : 1px solid #545454;
        border-radius: 3px;
        padding: 20px;
        height : 100%;
        position: relative;
    }
    textarea{
        width: 100%;
        height: 70%;
        &:focus{
            outline: none;
            box-shadow: 10px 7.5px 15px yellow, -10px 7.5px 15px lime, -10px -7.5px 15px blue, 10px -7.5px 15px red;
            transition: all 0.4s ease-out;
        }
    }
    input {
        position: absolute;
        padding: 5px 20px;
        width: 20%;
        line-height: 16px;
        top : 80%;
        left : 50%;
        margin-top: 10px;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 2px solid red;
        border-radius: 14px;
        transition-duration: 0.4s;
        &:hover{
            background-color: red;
            color: white;
        }
    }
    section{
        width: 50%;
        height: 250px;
    }
    .break-line{
        margin : 10px;
        background-color: darkslategrey;
        height: 3px;
        width : 100%;
    }
    #text{
        width: 97%;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: darkgreen;
        line-height: 30px;
    }
    .features{
        &::before{
            content : "Features";
            font-size: 15px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: darkgreen;
        }
    }
}


